<form ng-submit="parentEditCtrl.saveParent()">
    <div class="form-group">
        <label>
            Enter your Childs First Name
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.name"
            class="form-control"
        ></textarea>

        <label>
            Enter your Childs Last Name
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.lastname"
            class="form-control"
        ></textarea>
    
    <div class="form-group">
        <label>
           Enter Your Childs Age
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.age"
            class="form-control" 
        ></textarea>

        <label>
            Enter your Childs Food Preference
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.foodprefer"
            class="form-control"
        ></textarea>


        <label>
            Enter your Childs Allergies if Any
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.allergies"
            class="form-control"
        ></textarea>


        <label>
            Any Medicine Reqquired by your Child in Any
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.medicine"
            class="form-control"
        ></textarea>    


        <label>
            Enter your Childs Prefered Naptime
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.naptime"
            class="form-control"
        ></textarea>    



    <div class="form-group">
        <label>
            Emergency Contact For Parents
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.emergency"
            class="form-control" 
        ></textarea>

    <label>
            Enter your Contact Email
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.email"
            class="form-control"
        ></textarea>
    <label>
            Authorized People to Pick Up Child
        </label>
        <textarea rows="2" cols="5"
            ng-model="parentEditCtrl.editedParent.authorized"
            class="form-control"
        ></textarea>
    
    </div>
    
    <button class="btn btn-primary" type="submit">
        Save Your Childs Info
    </button>


    <button
        class="btn btn-danger"
        type="button"
        ng-show="parentEditCtrl.cancel"
        ng-click="parentEditCtrl.cancel()">
        Cancel
    </button>
    
</form>







