<div 
    class="panel panel-default parent-item"
    ng-mouseover="parentItemCtrl.setShowControls(true)"
    ng-mouseout="parentItemCtrl.setShowControls(false)"
>
    <div class="panel-body">
        <p class="lead" ng-show="!parentItemCtrl.editMode">
            <h4><p>First Name :</p>{{ parentItemCtrl.parent.name }} </h4>
            <h4><p>Last Name :</p>{{ parentItemCtrl.parent.lastname }}</h4>
            <h4><p>Age :</p>{{ parentItemCtrl.parent.age }}</h4>
            <h4><p>Nap Time :</p>{{ parentItemCtrl.parent.naptime }}</h4>
            <h4><p>Food Prefered :</p>{{ parentItemCtrl.parent.foodprefer }}</h4> 
            <h4><p>Known Allergies :</p>{{ parentItemCtrl.parent.allergies }}</h4>
            <h4><p>Medicine Needed :</p>{{ parentItemCtrl.parent.medicine }}</h4>
            <h4><p>Emergency Number :</p>{{ parentItemCtrl.parent.emergency }}</h4>
            <h4><p>Parent Email :</p>{{ parentItemCtrl.parent.email }}</h4>
            <h4><p>People Authorized Pickup :</p>{{ parentItemCtrl.parent.authorized }}</h4>
        </p>
        <parent-edit
            ng-show="parentItemCtrl.editMode"
            parent="parentItemCtrl.parentToEdit"
            save="parentItemCtrl.editParent(editedParent)"
            cancel="parentItemCtrl.setEditMode(false)"
        />
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            {{ parentItemCtrl.parent.created | date:'medium'}}
        </div>
        <div class="parent-item-controls" ng-show="parentItemCtrl.showControls">
            <button class="btn btn-default" ng-click="parentItemCtrl.setEditMode(true)">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="btn btn-danger" ng-click="parentItemCtrl.deleteParent()">
                <i class="fa fa-trash-o"></i>
            </button>
            

        </div>
    </div>
</div>



<div class="post"
 
    class="panel panel-default post-item"
    ng-mouseover="postItemCtrl.setShowControls(true)"
    ng-mouseout="postItemCtrl.setShowControls(false)"
>
    <div class="panel-body">
        <p class="lead" ng-show="!postItemCtrl.editMode">
            <h4>{{ postItemCtrl.post.post }} </h4>
            
        </p>
        <post-edit
            ng-show="postItemCtrl.editMode"
            parent="postItemCtrl.postToEdit"
            save="postItemCtrl.editPost(editedPost)"
            cancel="postItemCtrl.setEditMode(false)"
        />
    </div>
    
    <div class="panel-footer clearfix">
        <div class="pull-right">
            {{ postItemCtrl.post.created | date:'medium'}}
        </div>
        
        <div class="post-item-controls" ng-show="postItemCtrl.showControls">
            <button class="btn btn-default" ng-click="postItemCtrl.setEditMode(true)">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="btn btn-danger" ng-click="postItemCtrl.deletePost()">
                <i class="fa fa-trash-o"></i>
            </button>
            

            </div>
        </div>
    </div>
</div>

<div class="news"
    class="panel panel-default news-item"
    ng-mouseover="newsItemCtrl.setShowControls(true)"
    ng-mouseout="newsItemCtrl.setShowControls(false)"
>
    <div class="panel-body">
        <p class="lead" ng-show="!newsItemCtrl.editMode">
            <h4>{{ newsItemCtrl.news.news }} </h4>
            
        </p>
        <news-edit
            ng-show="newsItemCtrl.editMode"
            parent="newsItemCtrl.newsToEdit"
            save="newsItemCtrl.editNews(editedNews)"
            cancel="newsItemCtrl.setEditMode(false)"
        />
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            {{ newsItemCtrl.news.created | date:'medium'}}
        </div>
        <div class="news-item-controls" ng-show="newsItemCtrl.showControls">
            <button class="btn btn-default" ng-click="newsItemCtrl.setEditMode(true)">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="btn btn-danger" ng-click="newsItemCtrl.deleteNews()">
                <i class="fa fa-trash-o"></i>
            </button>
            

        </div>
    </div>
</div>





