<div 
    class="panel panel-default parent-item"
    ng-mouseover="parentItemCtrl.setShowControls(true)"
    ng-mouseout="parentItemCtrl.setShowControls(false)"
>
    <div class="panel-body">
        <p class="lead" ng-show="!parentItemCtrl.editMode">
            <h4>{{ parentItemCtrl.parent.name }} </h4>
            <h4>{{ parentItemCtrl.parent.lastname }}</h4>
            <h4>{{ parentItemCtrl.parent.age }}</h4>
            <h4>{{ parentItemCtrl.parent.naptime }}</h4>
            <h4>{{ parentItemCtrl.parent.foodprefer }}</h4> 
            <h4>{{ parentItemCtrl.parent.allergies }}</h4>
            <h4>{{ parentItemCtrl.parent.medicine }}</h4>
            <h4>{{ parentItemCtrl.parent.emergency }}</h4>
            <h4>{{ parentItemCtrl.parent.email }}</h4>
            <h4>{{ parentItemCtrl.parent.authorized }}</h4>
        </p>
        <parent-edit
            ng-show="parentItemCtrl.editMode"
            parent="parentItemCtrl.parentToEdit"
            save="parentItemCtrl.editParent(editedParent)"
            cancel="parentItemCtrl.setEditMode(false)"
        />
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            {{ parentItemCtrl.parent.created | date:'medium'}}
        </div>
        <div class="parent-item-controls" ng-show="parentItemCtrl.showControls">
            <button class="btn btn-default" ng-click="parentItemCtrl.setEditMode(true)">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="btn btn-danger" ng-click="parentItemCtrl.deleteParent()">
                <i class="fa fa-trash-o"></i>
            </button>
            

        </div>
    </div>
</div>



