{% extends "core/base.html" %}



{% block content %}

<ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}" class="btn btn-success btn-sm">Logout</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}" class="btn btn-success btn-sm">Login</a></li>
                <li><a href="{% url 'accounts:register' %}" class="btn btn-success btn-sm">Sign Up</a></li>
            {% endif %}
        </ul>
      </ul>
    <h2>Login</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            Your username and password didn't match. Please try again.
        </div>
    {% else %}
        
            
                <h2>Parents Please Log In.</h2>
                
    <br>
    {% endif %}

    
    <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% include "core/_form_input.html" %}
        {% endfor %}
        
            <input type="hidden" name="next" value="{{next}}">
            <button type="submit" class="btn btn-primary col-md-3 col-md-offset-3">Log In</button>
            </div>
        </div>    
        </div>
    </form>
    </div>


{% endblock content %}



                        
