

.center-text{
text-align:center;
color: red;
}

.Welcome-to-Awesome-Daycare{
    text-align:center;
    
}

.Welcome-to-Awesome-Daycare-parentpage{
    background-color: lightgreen;
    height: 51px;
    text-align:center;
    margin-top: -20px;
}

.footer{
    background-color: lightgreen;
    height: 51px;
    margin-top: 210px;
    
}

.jumbotron-login{
    position: absolute;
    background-color: lightblue;
    height: 260px;
    width: 350px;
    margin-left: 490px;
    margin-top: 30px;

}

.jumbotron-hello{
    position: absolute;
    background-color: #f48342;
    height: 190px;
    width: 300px;
    margin-top: -190px;
    border-radius: 1%;
    border: solid 1px;
    border-color: black;
}

.childinfo{
    height: 200px;
    width: 200px;
}

.jumbotron-signup{
    background-color: lightblue;
    height: 440px;
    width: 290px;
    margin-left: 530px;
}


.picsofyourkids{
    width: 100px;
    height: 100;
}

.profilepic{
    border-radius: 2%;
    width: 170px;
    height: 150px;
}

.funpics{
    position: relative;

}
 
.bannerlogin{
    width: 1280px;
    height: 200px;
}

body{
    background-image: url("");
    background-repeat:repeat;
    background-size: 
}


.dontforget{
    height: 400px;
    width: 600px;
    margin-left: 350px;
    margin-top: -90px;
}

.panel-body{
    background-color: #f48342;
}


flashes {
    display: block !important;
    position: fixed;
    bottom: 0;
    z-index: 20000;
}



flashes .alert.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(-200px, 0);
}

flashes .alert.ng-enter-active {
  transform: translate(0, 0);
}

flashes .alert.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

flashes .alert.ng-leave-active {
    transform: translate(-200px, 0);
}

parent-item {
    display: block !important;
}

parent-item.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(0, -1000%);
}

parent-item.ng-enter-active {
  transform: translate(0, 0);
}

parent-item.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

parent-item.ng-leave-active {
    transform: translate(100%, 0);
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}

.green{
    color: green;
}

.purple{
    color: purple;
}

.pink{
    color: pink;
}
