.profilepic{
    margin-top: -160px;
    width: 150px;
    height: 150px;
}

.picsofyourkids{
    width: 100px;
    height: 100;
}

.aboutkids{
    width: 200px;
    position: relative;
    margin-top: 30px;
    margin-left: 500px;

}
.container-post{
    position: relative;
    margin-top: -400px;
    margin-left: 250px;
    
}

.container-info{
    position: absolute;
    margin-left: 990px;
}

.container-funpics{
    margin-top: 500px;
    margin-left: 550px;
}

.container-childcollaps{
    background-color: lightblue;
    
}


body{
    background-color: lightblue;
}
}

flashes {
    display: block !important;
    position: fixed;
    bottom: 0;
    z-index: 20000;
}



flashes .alert.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(-200px, 0);
}

flashes .alert.ng-enter-active {
  transform: translate(0, 0);
}

flashes .alert.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

flashes .alert.ng-leave-active {
    transform: translate(-200px, 0);
}

parent-item {
    display: block !important;
}

parent-item.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(0, -1000%);
}

parent-item.ng-enter-active {
  transform: translate(0, 0);
}

parent-item.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

parent-item.ng-leave-active {
    transform: translate(100%, 0);
}