
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


.yougotmail{
    position: absolute;
    background-color: #f48342;
    height: 90px;
    width: 200px;
    margin-left: 1050px;
    margin-top: -330px;
    
    
}

.center-text{
text-align:center;
color: red;
}





.footer{
    background-color: lightgreen;
    height: 51px;
    margin-top: 210px;
    
}

.jumbotron-login{
    position: absolute;
    background-color: lightblue;
    height: 260px;
    width: 350px;
    margin-left: 490px;
    margin-top: 30px;

}



.childinfo{
    height: 200px;
    width: 200px;
}

.jumbotron-signup{
    background-color: lightblue;
    height: 440px;
    width: 290px;
    margin-left: 530px;
}


.picsofyourkids{
    width: 100px;
    height: 100px;
}

.profilepic{
    border-radius: 2%;
    width: 170px;
    height: 150px;
}

.funpics{
    position: relative;

}
 
.bannerlogin{
    width: 1280px;
    height: 200px;
}

body{
    padding-top: 
}


.dontforget{
    height: 400px;
    width: 600px;
    margin-left: 350px;
    margin-top: -90px;
}

.panel-body{
    background-color: #f48342;
}


flashes {
    display: block !important;
    position: fixed;
    bottom: 0;
    z-index: 20000;
}



flashes .alert.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(-200px, 0);
}

flashes .alert.ng-enter-active {
  transform: translate(0, 0);
}

flashes .alert.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

flashes .alert.ng-leave-active {
    transform: translate(-200px, 0);
}

parent-item {
    display: block !important;
}

parent-item.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(0, -1000%);
}

parent-item.ng-enter-active {
  transform: translate(0, 0);
}

parent-item.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

parent-item.ng-leave-active {
    transform: translate(100%, 0);
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.yellow{
    color: yellow;
}

.green{
    color: green;
}

.purple{
    color: purple;
}

.pink{
    color: pink;
}

.jumbotron{
    background-image: url("kidsbackground.jpg");
    background-repeat:no-repeat;
    background-size: 80%;
    min-height: 600px;
    background-color: #659EC7;
    background-position: center top;
}

.well h1{
    background-color: white;
    color: #659EC7;

}

.latestnews{
    background-color:#659EC7;
    
}

.latestnews h1{
    background-color: #659EC7;
    color: white;
}

.calendarpic{
    width: 100px;
    height: 80px;
}

.calender img{
    float: left;
}

.kideating{
    height: 100px; 
    width: 130px;
    display: inline-block;
}

.creativelearning{
    height: 100px; 
    width: 130px;
    display: inline-block;
}

.caringteacher{
    height: 100px; 
    width: 130px;
    display: inline-block;
}

.contactinfo h3{
    color: #659EC7;
}

.highlight  h3, .highlight  h5 {
   color: #659EC7; 
}

