<div 
    class="panel panel-default post-item"
    ng-mouseover="postItemCtrl.setShowControls(true)"
    ng-mouseout="postItemCtrl.setShowControls(false)"
>
    <div class="panel-body">
        <p class="lead" ng-show="!postItemCtrl.editMode">
            <h4>{{ postItemCtrl.post.post }} </h4>
            
        </p>
        <parent-edit
            ng-show="postItemCtrl.editMode"
            parent="postItemCtrl.postToEdit"
            save="postItemCtrl.editPost(editedPost)"
            cancel="postItemCtrl.setEditMode(false)"
        />
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            {{ postItemCtrl.post.created | date:'medium'}}
        </div>
        <div class="post-item-controls" ng-show="postItemCtrl.showControls">
            <button class="btn btn-default" ng-click="postItemCtrl.setEditMode(true)">
                <i class="fa fa-pencil-square-o"></i>
            </button>
            <button class="btn btn-danger" ng-click="postItemCtrl.deletePost()">
                <i class="fa fa-trash-o"></i>
            </button>
            

        </div>
    </div>
</div>






