<form ng-submit="postEditCtrl.savePost()">
    <div class="form-group">
        <label>
            Message For Anders
        </label>
        <textarea rows="2" cols="5"
            ng-model="postEditCtrl.editedPost.post"
            class="form-control"
        ></textarea>
    <button class="btn btn-primary" type="submit">
        Send
    </button>


    <button
        class="btn btn-danger"
        type="button"
        ng-show="postEditCtrl.cancel"
        ng-click="postEditCtrl.cancel()">
        Cancel
    </button>
</form>